.filepond--item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 24px 20px;
    gap: 8px;

    width: 722px;
    height: 68px;

    /* Gray 10 */

    background: #f1f4f8;
    border: 1px dashed #b2b6bc;
    border-radius: 8px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}
