@tailwind base;
@tailwind components;
@tailwind utilities;

@layer basep {
    body {
        font-family: 'Space Grotesk', sans-serif;
        height: 100vh;
        background-color: rgb(241 244 248);
    }
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px #f5f5f7 inset;
    transition: background-color 5000s ease-in-out 0s;
}
input:-webkit-autofill {
    -webkit-text-fill-color: #2f3031 !important;
}

input[type='date'] {
    width: 24px;
    height: 24px;
    border: none;
    outline: none;
}
input[type='date']::-webkit-calendar-picker-indicator {
    color: rgba(0, 0, 0, 0);
    opacity: 1;
    display: block;
    background: url(/public/assets/Images/Calendar.png) no-repeat;
    background-size: 100%;
    width: 24px;
    height: 24px;
    border-width: thin;
}

input[type='date']::-webkit-datetime-edit-day-field,
input[type='date']::-webkit-datetime-edit-month-field,
input[type='date']::-webkit-datetime-edit-year-field {
    color: transparent;
    width: 0;
    height: 0;
    border-width: 0;
    padding: 0;
}
